<html>

<% include ./partials/header %>

<body>
    <% include ./partials/navbar %>
    <% include ./partials/scripts %>

    <p class="topleft" id="info" style="float:right;"></p>
    <canvas id="GameArea"></canvas>

    <script>
        let WindowHeight = $(window).height();
        let WindowWidth = $(window).width();
        let MapCoordinateX = 1000;
        let MapCoordinateY = 1000;
        let PlayerXSize = 200;
        let PlayerYSize = 200;
        let MapSizeX = 10000;
        let MapSizeY = 10000;
        let XOffset = WindowWidth / 2;
        let YOffset = WindowHeight / 2;
        let PlayerCoordinateX = MapCoordinateX + XOffset;
        let PlayerCoordinateY = MapCoordinateY + YOffset;
        let TimerCheckUp = null;
        let TimerCheckDown = null;
        let TimerCheckLeft = null;
        let TimerCheckRight = null;
        let MovementAmount = 2;
        let Delay = 8;
        let MousePositionX = WindowWidth / 2;
        let MousePositionY = WindowHeight / 2;
        let IsPlayerMoving = false;
        let CoordinateX;
        let CoordinateY;
        let CoordinateSize = 1000;
        let PlayerObject = {
            AllowMovement: {
                Upward: true,
                Downward: true,
                Left: true,
                Right: true
            }
        }
        let FPS = 1;
        let Seconds = 1;

        let MapPlacement = [
            [0, 0, 1, 1, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 1, 1, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            [1, 1, 0, 1, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
        ]


        document.addEventListener('contextmenu', event => event.preventDefault());

        var GameAreaSelector = document.getElementById("GameArea");
        var game = GameAreaSelector.getContext("2d");

        window.requestAnimationFrame(GameFrame);

        GameMap = new Image();
        Player = new Image();
        Kaiju = new Image();

        function GameFrame() {
            GameMap.src = '/images/Map.png';
            CheckMovement();
            RenderMapObjects();
            RenderObjects();
            LightningRender();
            // $("#info").text(`X: ${CoordinateX}, Y: ${CoordinateY}, ${PlayerObject.AllowMovement.Right}`);
            // FPS++;
            $("#info").text(`Height: ${WindowHeight}, Width: ${WindowWidth}`);
            window.requestAnimationFrame(GameFrame);
        }

        setInterval(FPSCounter, 1000);

        function FPSCounter() {
            if (Seconds >= 10) {
                Seconds = 0;
                FPS = 1;
            }
            Seconds++;
        }

        let PlayerStaticAnimation = true;
        PlayerStillAnimationTimer = setInterval(PlayerAnimate, 350);

        function PlayerAnimate() {
            PlayerStaticAnimation = !PlayerStaticAnimation;
        }

        let AnimationFrames = true;
        AnimationFrames = setInterval(Lightning, 16);
        let LightningShrink = 40;
        let LightningGrow = 0;
        
        function Lightning() {
            LightningShrink -= 1;
            if (LightningShrink < 0) {
                LightningShrink = 40;
            }
        }

        let LightningScoot = true;
        LightningScoot = setInterval(LightningSlow, 200);

        function LightningSlow() {
            LightningGrow += 1;
            if (LightningGrow > 100) {
                LightningGrow = 0;
            }
        }

        function LightningRender() {
            game.fillStyle = "#FFFFFF";
            // for (i = 500000; i < 1000000; i += 100000) {
            let LightningArray = [];
            for (i = 0; i <= 720; i += .2) {
                // game.fillRect((100000 * Lightning) / i, i, 5, 5);
                // game.fillRect(i, Math.sqrt(100000 - Lightning * i ** 2) + 19 * Math.sin(.03 * i), 5, 5);
                game.fillRect(i + WindowWidth / 2, 50 * Math.sin(.03 * i + LightningGrow * 16) + (WindowHeight / 2), 5, 5);
                game.fillRect(i + WindowWidth / 2, 50 * Math.sin(.03 * i + (LightningGrow + 1.5) * 16) + (WindowHeight / 2), 5, 5);
                game.fillRect(i + WindowWidth / 2, 50 * Math.sin(.03 * i + (LightningGrow + 2.63) * 16) + (WindowHeight / 2), 5, 5);
                // game.fillRect(i + WindowWidth / 2, Math.sqrt(10000 / LightningShrink - (.01929 * (1 / LightningShrink) * i ** 2))  + (50 * Math.sin(.03 * i + LightningGrow * 16)) + (WindowHeight / 2), 5, 5);
            }
            // }
        }

        //Math.sqrt(10000 - (.01929 * i ** 2))
        // + 50 * Math.sin(.03 * i + Lightning * 16)
        // + ( 50 * (Math.random() - .5))
        //TV static effect with this
        //game.fillRect(i, Math.sqrt(100000 - .3 * i ** 2) + 19 * Math.sin(.03 * i + 1) + ( 50 * (Math.random() - .5)), 5, 5);

        function resize() {
            GameAreaSelector.width = window.innerWidth;
            WindowWidth = window.innerWidth;
            GameAreaSelector.height = window.innerHeight;
            WindowHeight = window.innerHeight;
            XOffset = WindowWidth / 2;
            YOffset = WindowHeight / 2;
        }

        resize()
        window.addEventListener('resize', resize)

        GameMap.onload = function () {
            game.fillStyle = "#654987";
            game.fillRect(-1000, -1000, MapSizeX + 1000, MapSizeY + 1000);
            game.drawImage(GameMap, MapCoordinateX, MapCoordinateY, WindowWidth, WindowHeight, 0, 0, WindowWidth, WindowHeight);
        }

        Player.onload = function () {
            if (PlayerStaticAnimation) {
                if (IsPlayerMoving) {
                    game.drawImage(Player, 0, 0, 250, 249, WindowWidth / 2 - PlayerXSize / 2, WindowHeight / 2 - PlayerYSize / 2, PlayerXSize, PlayerYSize);
                } else {
                    game.drawImage(Player, 0, 250, 250, 250, WindowWidth / 2 - PlayerXSize / 2, WindowHeight / 2 - PlayerYSize / 2, PlayerXSize, PlayerYSize);
                }
            } else if (!PlayerStaticAnimation) {
                if (IsPlayerMoving) {
                    game.drawImage(Player, 250, 0, 250, 250, WindowWidth / 2 - PlayerXSize / 2, WindowHeight / 2 - PlayerYSize / 2, PlayerXSize, PlayerYSize);
                } else {
                    game.drawImage(Player, 250, 250, 250, 250, WindowWidth / 2 - PlayerXSize / 2, WindowHeight / 2 - PlayerYSize / 2, PlayerXSize, PlayerYSize);
                }
            }
        }

        Kaiju.onload = function () {
            LocationsX = [100, 200, 300, 400, 500, 600, 700, 800];
            LocationsY = [200, 100, 500, 1000, 5000, 60, 750, 350];
            for (i = 0; i < 8; i++) {
                game.drawImage(Kaiju, LocationsX[i] - MapCoordinateX, LocationsY[i] - MapCoordinateY, 100, 100);
            }
        }

        GameMap.src = '/images/Map.png';

        function RenderMapObjects() {
            for (y = 0; y < MapSizeY; y += CoordinateSize) {
                for (x = 0; x < MapSizeX; x += CoordinateSize) {
                    if (MapPlacement[y / CoordinateSize][x / CoordinateSize] == 1) {
                        game.fillStyle = "#128377";
                        game.fillRect(x - MapCoordinateX, y - MapCoordinateY, CoordinateSize, CoordinateSize);
                    }
                }
            }
        }

        function RenderObjects() {
            Player.src = '/images/Robots/Water/Medium.png';
            Kaiju.src = '/images/PlanetSnail.png';

            game.fillStyle = "#123456";
            game.fillRect(500 - MapCoordinateX, 500 - MapCoordinateY, PlayerXSize, PlayerYSize);
            game.fillStyle = "#654321";
            game.fillRect(5000 - MapCoordinateX, 5000 - MapCoordinateY, PlayerXSize, PlayerYSize);
        }



        function GetAngle(PointX, PointY, PlayerX, PlayerY) {
            return Math.atan2(PointY - PlayerY, PointX - PlayerX) * 180 / Math.PI;
        }

        function SyncPlayerCoordinates() {
            PlayerCoordinateX = MapCoordinateX + XOffset;
            PlayerCoordinateY = MapCoordinateY + YOffset;
        }

        function FindCoordinate() {
            CoordinateX = (PlayerCoordinateX - PlayerCoordinateX % CoordinateSize) / CoordinateSize;
            CoordinateY = (PlayerCoordinateY - PlayerCoordinateY % CoordinateSize) / CoordinateSize;
        }

        function CheckMovement() {
            FindCoordinate();
            if (MapPlacement[CoordinateY][CoordinateX + 1] == 1) {
                if ((PlayerCoordinateX % CoordinateSize) + (PlayerXSize * .4) >= CoordinateSize) {
                    PlayerObject.AllowMovement.Right = false;
                }
            }
        }

        function Move(Direction) {
            // console.log(`${PlayerCoordinateX} ${PlayerCoordinateY} ${MapSizeX} ${MapSizeY}`);
            IsPlayerMoving = true;
            SyncPlayerCoordinates();
            switch (Direction) {
                case 1:
                    if (PlayerCoordinateY >= 0) {
                        MapCoordinateY -= MovementAmount;
                    }
                    break;
                case 2:
                    if (PlayerCoordinateY <= MapSizeY) {
                        MapCoordinateY += MovementAmount;
                    }
                    break;
                case 3:
                    if (PlayerCoordinateX >= 0) {
                        MapCoordinateX -= MovementAmount;
                    }
                    break;
                case 4:
                    if (PlayerCoordinateX <= MapSizeX) {
                        MapCoordinateX += MovementAmount;
                    }
                    break;
            }
        }

        $("body").keydown(function (Key) {
            if (Key.which == 87) {
                if (TimerCheckUp == null) {
                    TimerCheckUp = setInterval(Move, Delay, 1);
                }
            } else if (Key.which == 83) {
                if (TimerCheckDown == null) {
                    TimerCheckDown = setInterval(Move, Delay, 2);
                }
            } else if (Key.which == 65) {
                if (TimerCheckLeft == null) {
                    TimerCheckLeft = setInterval(Move, Delay, 3);
                }
            } else if (Key.which == 68) {
                if (TimerCheckRight == null) {
                    TimerCheckRight = setInterval(Move, Delay, 4);
                }
            } else if (Key.which == 90) {
                alert(`${WindowWidth} ${WindowHeight}`);
            }
        });

        $("body").keyup(function (Key) {
            if (Key.which == 87) {
                clearInterval(TimerCheckUp);
                TimerCheckUp = null;
                IsPlayerMoving = false;
            } else if (Key.which == 83) {
                clearInterval(TimerCheckDown);
                TimerCheckDown = null;
                IsPlayerMoving = false;
            } else if (Key.which == 65) {
                clearInterval(TimerCheckLeft);
                TimerCheckLeft = null;
                IsPlayerMoving = false;
            } else if (Key.which == 68) {
                clearInterval(TimerCheckRight);
                TimerCheckRight = null;
                IsPlayerMoving = false;
            } else if (Key.which == 90) {
                //Use();
            } else if (Key.which == 85) {
                document.getElementById("GameArea").requestFullscreen();
            }
            // alert(Key.which);
        });

        $('#GameArea').mousedown(function (event) {
            switch (event.which) {
                case 1:
                    // alert('Left Mouse button pressed.');
                    // alert(`${MousePositionX}, ${MousePositionY}`);
                    FindCoordinate();
                    // alert(`${CoordinateX}, ${CoordinateY}, ${MapPlacement[CoordinateY][CoordinateX]}`);
                    break;
                case 2:
                    // alert('Middle Mouse button pressed.');
                    break;
                case 3:
                    // alert('Right Mouse button pressed.');
                    alert(`${MousePositionX + MapCoordinateX}, ${MousePositionY + MapCoordinateY}`);
                    break;
                default:
                // alert('You have a strange Mouse!');
            }
        });

        $("#GameArea").mousemove(function (event) {
            MousePositionX = event.pageX - $(this).offset().left;
            MousePositionY = event.pageY - $(this).offset().top;
            console.log(`${GetAngle(MousePositionX, MousePositionY, PlayerCoordinateX, PlayerCoordinateY)}`);
        });

    </script>
</body>

</html>