<html>

<% include ./partials/header %>

    <body>
        <% include ./partials/navbar %>
            <% include ./partials/scripts %>

                <canvas id="GameArea"></canvas>

                <script>
                    let WindowHeight = $(window).height();
                    let WindowWidth = $(window).width();
                    let MapCoordinateX = 0;
                    let MapCoordinateY = 0;
                    let PlayerXSize = 50;
                    let PlayerYSize = 50;
                    let MapSizeX = 8783;
                    let MapSizeY = 8783;
                    let XOffset = WindowWidth / 2;
                    let YOffset = WindowHeight / 2;
                    let PlayerCoordinateX = MapCoordinateX + XOffset;
                    let PlayerCoordinateY = MapCoordinateY + YOffset;
                    let TimerCheckUp = null;
                    let TimerCheckDown = null;
                    let TimerCheckLeft = null;
                    let TimerCheckRight = null;
                    let MovementAmount = 2;
                    let Delay = 8;
                    let MousePositionX = WindowWidth / 2;
                    let MousePositionY = WindowHeight / 2;



                    var GameAreaSelector = document.getElementById("GameArea");
                    var game = GameAreaSelector.getContext("2d");

                    window.requestAnimationFrame(GameFrame);

                    GameMap = new Image();

                    function GameFrame() {
                        GameMap.src = '/images/Map.png';
                        RenderPlayer();
                        window.requestAnimationFrame(GameFrame);
                    }

                    function resize() {
                        GameAreaSelector.width = window.innerWidth;
                        WindowWidth = window.innerWidth;
                        GameAreaSelector.height = window.innerHeight;
                        WindowHeight = window.innerHeight;
                        XOffset = WindowWidth / 2;
                        YOffset = WindowHeight / 2;

                    }

                    resize()
                    window.addEventListener('resize', resize)

                    GameMap.onload = function () {
                        game.fillStyle = "#654987";
                        game.fillRect(-1000, -1000, 10000, 10000);
                        game.drawImage(GameMap, MapCoordinateX, MapCoordinateY, WindowWidth, WindowHeight, 0, 0, WindowWidth, WindowHeight);
                    }

                    GameMap.src = '/images/Map.png';

                    function RenderPlayer() {
                        game.fillStyle = "#999999";
                        game.fillRect(WindowWidth / 2 - 25, WindowHeight / 2 - 25, PlayerXSize, PlayerYSize);
                    }

                    function GetAngle(PointX, PointY, PlayerX, PlayerY) {
                        return Math.atan2(PointY - PlayerY, PointX - PlayerX) * 180 / Math.PI;
                    }

                    function SyncPlayerCoordinates() {
                        PlayerCoordinateX = MapCoordinateX + XOffset;
                        PlayerCoordinateY = MapCoordinateY + YOffset;
                    }

                    function Move(Direction) {
                        // console.log(`${PlayerCoordinateX} ${PlayerCoordinateY} ${MapSizeX} ${MapSizeY}`);
                        SyncPlayerCoordinates();
                        switch (Direction) {
                            case 1:
                                if (PlayerCoordinateY >= 0) {
                                    MapCoordinateY -= MovementAmount;
                                }
                                break;
                            case 2:
                                if (PlayerCoordinateY <= MapSizeY) {
                                    MapCoordinateY += MovementAmount;
                                }
                                break;
                            case 3:
                                if (PlayerCoordinateX >= 0) {
                                    MapCoordinateX -= MovementAmount;
                                }
                                break;
                            case 4:
                                if (PlayerCoordinateX <= MapSizeX) {
                                    MapCoordinateX += MovementAmount;
                                }
                                break;
                        }
                    }

                    $("body").keydown(function (Key) {
                        if (Key.which == 87) {
                            if (TimerCheckUp == null) {
                                TimerCheckUp = setInterval(Move, Delay, 1);
                            }
                        } else if (Key.which == 83) {
                            if (TimerCheckDown == null) {
                                TimerCheckDown = setInterval(Move, Delay, 2);
                            }
                        } else if (Key.which == 65) {
                            if (TimerCheckLeft == null) {
                                TimerCheckLeft = setInterval(Move, Delay, 3);
                            }
                        } else if (Key.which == 68) {
                            if (TimerCheckRight == null) {
                                TimerCheckRight = setInterval(Move, Delay, 4);
                            }
                        } else if (Key.which == 90) {
                            alert(`${WindowWidth} ${WindowHeight}`);
                        }
                    });

                    $("body").keyup(function (Key) {
                        if (Key.which == 87) {
                            clearInterval(TimerCheckUp);
                            TimerCheckUp = null;
                        } else if (Key.which == 83) {
                            clearInterval(TimerCheckDown);
                            TimerCheckDown = null;
                        } else if (Key.which == 65) {
                            clearInterval(TimerCheckLeft);
                            TimerCheckLeft = null;
                        } else if (Key.which == 68) {
                            clearInterval(TimerCheckRight);
                            TimerCheckRight = null;
                        } else if (Key.which == 90) {
                            //Use();
                        } else if (Key.which == 85) {
                            document.getElementById("GameArea").requestFullscreen();
                        }
                        // alert(Key.which);
                    });

                    $('#GameArea').mousedown(function (event) {
                        switch (event.which) {
                            case 1:
                                // alert('Left Mouse button pressed.');
                                break;
                            case 2:
                                // alert('Middle Mouse button pressed.');
                                break;
                            case 3:
                                // alert('Right Mouse button pressed.');
                                break;
                            default:
                            // alert('You have a strange Mouse!');
                        }
                    });

                    $("#GameArea").mousemove(function (event) {
                        MousePositionX = event.pageX - $(this).offset().left;
                        MousePositionY = event.pageY - $(this).offset().top;
                        console.log(`${GetAngle(MousePositionX, MousePositionY, PlayerCoordinateX, PlayerCoordinateY)}`);
                    });

                </script>
    </body>

</html>